*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
a
{
    text-decoration: none;
    font-size: 30px;
    color: rgb(97, 97, 97);
}
li{
    list-style:none;
}
.btns{
    padding: 10px 20px;
    margin-right: 6px;
    background: transparent;
    border-radius: 5px;
    color: #323232;
    cursor: pointer;
}