input[type=text] {
    padding: 6px;
    border-radius: 4px;
    font-size: 17px;
    width: 265PX;
    height: 35px;
    border: 2px solid #ededed;
  }
nav
{
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color:black;
}
.logo1{
  color:white;
}
.as{
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  color: white;
  margin-left: 60px;
}
.a3
{
  padding-top: 10px;
}
.a2::placeholder {
  color: black;
  font-weight: bold;
}
.a3 a{
  color: white;
}